/trackerapp/migrations/__pycache__/
/trackerapp/__pycache__/
/tasktracker/__pycache__/
trackerapp/tests/__pycache__/
db.sqlite3
/venv-tracker/*
/.idea/*
/venv/*
/__pycache__/*
images.jpeg
/uploads/*
/media/*
/tracker-venv/*
.coverage
trackerapp/tests/test_api/__pycache__/*
chat/__pycache__/*
chat/migrations/__pycache__/*
trackerapp/api/__pycache__/*
static/*
trackerapp/templatetags/__pycache__/*