{% extends "base_generic.html" %}

{% block content %}
    <div class="col-md-12">
        <div class="well">
            <div class="page-header">
                <h3>What chat room would you like to enter?</h3>
            </div>

            <input aria-label="room name" id="room-name-input" type="text" size="100">
            <input class="btn btn-default" id="room-name-submit" type="button" value="Enter">
        </div>
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function (e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
{% endblock %}