{% extends 'base_generic.html' %}

{% block content %}

    <div class="row">

        <div class="col-md-12">
            <div class="page-header">
                <h1>Attachments:</h1>
            </div>
        </div>

        {% comment %} Filter form {% endcomment %}
        <form class="col-md-10" class=".navbar-left" action="" method="post">
            {% csrf_token %}

            <div class="well well-lg">
                <table>
                    {{ form }}
                </table>
                <input class="btn btn-default" type="submit" value="Submit"/>
            </div>

        </form>

        <div class="col-md-2">

            <div class="btn-group-vertical" role="group" aria-label="...">
                <button type="button" class="btn btn-default"><a href="{% url 'task-detail' pk=related_task_id %}">Related
                    to the
                    attachment task</a>
                </button>
                <button type="button" class="btn btn-default"><a href="{% url 'index' %}">Tasks</a></a>
                </button>
                <button type="button" class="btn btn-default"><a href="{% url 'assigned-tasks' %}">Assigned to me</a>
                </button>
            </div>

        </div>


        {% comment %} Message list {% endcomment %}
        {% if attachment_list %}


            <div class="col-md-10">
                {% for attachment in attachment_list %}
                    <a href="{{ attachment.get_absolute_url }}">
                        <div class="well">

                            <h3>{{ attachment.file.name }}</h3>

                            <p><strong><i>owner: </i></strong> {{ attachment.get_owner }}</p>

                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default"><a
                                        href="{% url 'attach-update' pk=attachment.pk %}">update</a>
                                </button>
                                <button type="button" class="btn btn-default"><a
                                        href="{% url 'attach-delete' pk=attachment.pk %}">delete</a>
                                </button>
                            </div>

                        </div>
                    </a>
                {% endfor %}

            </div>
        {% else %}
            <p>No attachments detected...</p>
        {% endif %}

    </div>
{% endblock content %}