{% extends 'base_generic.html' %}

{% block content %}
    <div class="row">

        {% if attachment %}

            <div class="col-md-10">
                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h2 class="panel-title">{{ attachment.file.name }}</h2>
                    </div>

                    <div class="panel-body">
                        {{ attachment.description }}
                    </div>

                    <div class="panel-footer">
                        <p><a
                                href="{{ attachment.file.url }}"><strong>Download</strong></a></p>
                        <p><strong>Attachment owner: </strong>{{ attachment.get_owner }}</p>
                        <p><strong>Creation date:</strong> {{ attachment.creation_date }} </p>

                        {% if attachment.get_assignee %}
                            <p><strong>Assignee: </strong>{{ attachment.get_assignee }}</p>
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="col-md-2">
                <div class="btn-group-vertical" role="group" aria-label="...">

                    {% if user == attachment.get_owner %}
                        <button type="button" class="btn btn-default"><a
                                href="{% url 'attach-update' pk=attachment.id %}">Edit
                            attachment</a></button>
                        <button type="button" class="btn btn-default"><a
                                href="{% url 'attach-delete' pk=attachment.id %}">Delete
                            attachment</a></button>
                    {% endif %}

                    {% if user == attachment.get_owner or user == attachment.get_assignee %}
                        <button type="button" class="btn btn-default"><a
                                href="{% url 'attach-list' pk=attachment.task_id %}">Task
                            "{{ attachment.task.title }}"
                            attachments:</a></button>
                    {% endif %}

                </div>
            </div>

        {% else %}
            <h2 class="col-md-10">There is no such attachment in your list</h2>
        {% endif %}
    </div>
{% endblock %}