{% extends 'base_generic.html' %}

{% block content %}

    <div class="row">

        <div class="col-md-12">
            <div class="page-header">
                <h1>Comments:</h1>
            </div>
        </div>

        {% comment %} Filter form {% endcomment %}
        <form class="col-md-10" class=".navbar-left" action="" method="post">
            {% csrf_token %}

            <div class="well well-lg">
                <table>
                    {{ form }}
                </table>
                <input class="btn btn-success" type="submit" value="Submit"/>
            </div>

        </form>

        <div class="col-md-2">

            <div class="btn-group-vertical" role="group" aria-label="...">
                <button type="button" class="btn btn-default"><a href="{% url 'task-detail' pk=related_task_id %}">Related
                    to the
                    message task</a>
                </button>
                <button type="button" class="btn btn-default"><a href="{% url 'index' %}">Tasks</a></a>
                </button>
                <button type="button" class="btn btn-default"><a href="{% url 'assigned-tasks' %}">Assigned to me</a>
                </button>
            </div>

        </div>


        {% comment %} Message list {% endcomment %}
        {% if message_list %}

            <div class="col-md-10">
                {% for message in message_list %}
                    <a href="{{ message.get_absolute_url }}">
                        <div class="well">

                            <h3>{{ message.body }}</h3>

                            <p><strong><i>owner: </i></strong> {{ message.get_owner }}</p>
                            <p><strong><i>created: </i></strong> {{ message.creation_date }}</p>

                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default"><a
                                        href="{% url 'message-update' pk=message.pk %}">update</a>
                                </button>
                                <button type="button" class="btn btn-default"><a
                                        href="{% url 'message-delete' pk=message.pk %}">delete</a>
                                </button>
                            </div>

                        </div>
                    </a>

                {% endfor %}
            </div>

        {% else %}
            <p>No comments detected...</p>
        {% endif %}

    </div>
{% endblock content %}