{% extends 'base_generic.html' %}

{% block content %}
    <div class="row">
        {% if message %}
            <div class="col-md-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title"><strong>From: </strong> {{ message.get_owner }}</h2>
                    </div>
                    <div class="panel-body">
                        {{ message.body }}
                    </div>

                    <div class="panel-footer">
                        <p><strong>Creation date:</strong> {{ message.creation_date }} </p>
                    </div>

                </div>
            </div>

            <div class="col-md-2">
                <div class="btn-group-vertical" role="group" aria-label="...">

                    {% if user == message.get_owner %}
                        <button type="button" class="btn btn-default"><a
                                href="{% url 'message-update' pk=message.id %}">Edit
                            message</a></button>
                        <button type="button" class="btn btn-default"><a
                                href="{% url 'message-delete' pk=message.id %}">Delete
                            message</a></button>
                    {% endif %}

                    {% if user == message.get_owner or user == message.get_assignee %}
                        <button type="button" class="btn btn-default"><a
                                href="{% url 'comment-list' pk=message.task_id %}">Comments to task
                            "{{ message.task.title }}"
                        </a></button>
                    {% endif %}

                </div>
            </div>

        {% else %}
            <h2 class="col-md-10">There is no such message in your list</h2>
        {% endif %}

    </div>
{% endblock %}