{% extends 'base_generic.html' %}

{% block content %}

    {% comment %} Filter form {% endcomment %}
    <form class="col-md-10" class=".navbar-left" action="" method="post">
        {% csrf_token %}
        <table class="btn btn-default">
            {{ form }}
        </table>
        <input class="btn btn-success" type="submit" value="Submit"/>
    </form>

    <h1>Comments:</h1>
    {% comment %} Message list {% endcomment %}
    {% if message_list %}

        <ul class="col-md-10">
            {% for message in message_list %}

                <li>
                    <div>
                        <a class="btn btn-default" href="{{ message.get_absolute_url }}">{{ message.body }};
                    created: {{ message.creation_date }}</a>
                    <p>Owner: {{ message.owner }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No comments detected...</p>
    {% endif %}

    <div class="col-md-4">
        <p><a class="btn btn-primary" role="button" href="{% url 'tasks' %}">Tasks</a></p>
        <p><a class="btn btn-primary" role="button" href="{% url 'assigned-tasks' %}">Assigned to me</a></p>
    </div>

{% endblock content %}