{% extends "base_generic.html" %}

{% block content %}
    <div class="col-md-12">
        <div class="page-header">
            <h2>Delete message<small><p>Are you sure you want to delete the message? </p></small></h2>
        </div>
    </div>

    <div class="col-md-10">

        <div class="well well-lg">
            <p>{{ message.body }}</p>
        </div>


        <form action="" method="POST">
            {% csrf_token %}
            <input class="btn btn-success" type="submit" value="Yes, delete."/>
        </form>
    </div>

{% endblock %}