{% extends 'base_generic.html' %}

{% block content %}

    <div class="row">
        <h1>History of the task: {{ related_task_title }}</h1>

        {% if historicaltaskmodel_list and event_list %}

            <div class="col-md-10">
                {% for event in event_list %}

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong><i>event date: </i></strong>{{ event.datetime }}</h3>
                        </div>
                        {% for change in event.changes %}

                            <div class="panel-body">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        {% ifequal change.value "" %}
                                            <h3 class="panel-title"><strong><i>event: </i></strong>{{ change.field }}
                                        </h3>
                                        {% else %}
                                            <h3 class="panel-title"><strong><i>edited field: </i></strong>{{ change.field }}
                                        </h3>
                                        {% endifequal %}
                                    </div>
                                    <div class="panel-body">
                                        {% for v in change.value %}

                                            {% ifequal v.0 0 %}
                                                {{ v.1 }}
                                            {% endifequal %}

                                            {% ifequal v.0 1 %}
                                                <span style="color: green">{{ v.1 }}</span>
                                            {% endifequal %}

                                            {% ifequal v.0 -1 %}
                                                <del>{{ v.1 }}</del>
                                            {% endifequal %}
                                        {% endfor %}

                                    </div>
                                </div>

                            </div>

                        {% endfor %}
                        <div class="panel-footer">
                            <ul>
                                <li><strong><i>created: </i></strong>{{ event.datetime }}
                                </li>
                                <li><strong><i>changed
                                    by: </i></strong>{{ event.changed_by }}</li>
                            </ul>
                        </div>
                    </div>

                {% endfor %}
            </div>


        {% else %}
            <p>No events detected...</p>
        {% endif %}

        <div class="col-md-2">

            <div class="btn-group-vertical" role="group" aria-label="...">
                <button type="button" class="btn btn-default"><a href="{% url 'task-detail' pk=related_task_id %}">Related
                    to the event task</a>
                </button>
                <button type="button" class="btn btn-default"><a href="{% url 'assigned-tasks' %}">Assigned to me</a>
                </button>
                <button type="button" class="btn btn-default"><a href="{% url 'index' %}">Tasks</a></button>
            </div>

        </div>

    </div>

{% endblock content %}