{% extends 'base_generic.html' %}

{% block content %}

    <h1>History of the task: {{ related_task_title }}</h1>

    {% if historicaltaskmodel_list and event_list %}

        <ul class="col-md-10">
            <li>
                <p>{% for event in event_list %}
                    <div>
                    <p><strong><i>created</i>: {{ event.datetime }}</strong></p>
                    <p><i>changed by</i>: {{ event.changed_by }}</p>
                    <p>
                        {% for change in event.changes %}
                            field: {{ change.field }}
                            <p>
                                {% for v in change.value %}

                                    {% ifequal v.0 0 %}
                                        {{ v.1 }}
                                    {% endifequal %}

                                    {% ifequal v.0 1 %}
                                        <strong>{{ v.1 }}</strong>
                                    {% endifequal %}

                                    {% ifequal v.0 -1 %}
                                        <strike>{{ v.1 }}</strike>
                                    {% endifequal %}

                                {% endfor %}
                            </p>
                        {% endfor %}
                    </p>
                    </p>
                    <p><strong>-------------------------------------</strong></p>

                    </div>
                    </li>
                {% endfor %}
        </ul>
    {% else %}
        <p>No events detected...</p>
    {% endif %}

    <div class="col-md-4">
        <p><a class="btn btn-primary" role="button" href="{% url 'task-detail' pk=related_task_id %}">Related to the
            event task</a></p>
        <p><a class="btn btn-primary" role="button" href="{% url 'index' %}">Tasks</a></p>
        <p><a class="btn btn-primary" role="button" href="{% url 'assigned-tasks' %}">Assigned to me</a></p>
    </div>

{% endblock content %}