{% extends 'base_generic.html' %}

{% block content %}
    <div class="row">
        {% if userprofile %}
            <div class="col-md-10">
                {% if userprofile.picture %}
                    <div class="col-lg-6">
                        <div class="thumbnail">
                            <img src="{{ userprofile.picture.url }}">
                            <div class="caption">
                                <h2><strong>username:</strong> {{ userprofile.owner.username }}</h2>

                                <ul>
                                    <li><strong>name:</strong> {{ userprofile.owner.first_name }}</li>
                                    <li><strong>last name:</strong> {{ userprofile.owner.last_name }}</li>
                                    <li><strong>email:</strong> {{ userprofile.owner.email }}</li>
                                </ul>

                                <p><a href="{% url 'user-profile-update' pk=userprofile.id %}" class="btn btn-default"
                                      role="button"><strong>Update</strong></a>

                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>

        {% else %}
            <h1 class="col-md-10"> OLOLO. No such user profile... </h1>
        {% endif %}
    </div>

{% endblock %}