{% extends 'base_generic.html' %}

{% block content %}
    <div class="row">

        {% if userprofile %}
            <div class="col-md-10">

                <div class="col-lg-6">
                    <div class="thumbnail" style="background-color: #eed78c;border-color: #3e381d">

                        {% if userprofile.picture %}
                            <img src="{{ userprofile.picture.url }}">
                        {% endif %}

                        <div class="caption">
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ?autoplay=1"><h2>
                                <strong>username:</strong> {{ userprofile.owner.username }}</h2></a>

                            <ul>
                                <li><strong>name:</strong> {{ userprofile.owner.first_name }}</li>
                                <li><strong>last name:</strong> {{ userprofile.owner.last_name }}</li>
                                <li><strong>email:</strong> {{ userprofile.owner.email }}</li>
                            </ul>

                            <p><a href="{% url 'user-profile-update' %}" class="btn btn-default"
                                  role="button"><strong>Update</strong></a>

                        </div>
                    </div>
                </div>

            </div>

        {% else %}
            <h1 class="col-md-10"> OLOLO. No such user profile... </h1>
        {% endif %}
    </div>

{% endblock %}