/*.sidebar-nav {*/
/*    margin-top: 20px;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*    position: relative;*/
/*}*/

/*.navbar-fixed-bottom, .navbar-fixed-top {*/
/*    position: relative;*/
/*}*/

.body-color {
    background-color: #b3a985;
}

.panel-primary {
    background-color: #eed78c;
    border-color: #3e381d;
    box-shadow: 5px 5px 10px #3e381d;
}

.panel-primary > .panel-heading {
    background-color: #3e381d;
    border-color: #3e381d;
}

.panel-primary > .panel-footer {
    background-color: #8b825e;
    border-color: #3e381d;
}

.btn-group-vertical {
    box-shadow: 5px 5px 10px #3e381d;
    border-radius: 4px;
}

.btn-default {
    background-color: #8b825e;
    text-decoration-color: #000000;
    font-weight: bold;
    border-color: #3e381d;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #18130a;
    font-weight: bold;
}

.well {
    background-color: #bdb395;
    border-color: #3e381d;
    box-shadow: 5px 5px 10px #3e381d;
    word-wrap: break-word
}

input, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: #eed78c;
    border-color: #3e381d;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 100%;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #8b825e;
}

.navbar-inverse {
    background-color: #4c4a40;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: #eed78c;
}

input[type=submit] {
    background-color: #8b825e;
    text-decoration-color: #000000;
    font-weight: bold;
    border-color: #3e381d;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: 8px;
    margin-left: 15%;
    width: 20%;
    max-width: 100%;
}

.panel-footer {
    background-color: #8b825e;
    border-color: #3e381d;
}

textarea {
    background-color: #ecdb98;
    border-color: #3e381d;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar-nav > li > a {
    color: #eed78c;
}

/* width */
::-webkit-scrollbar {
    border-radius: 4px;
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #bdb395;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #8b825e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

    background: #3e381d;
}