/*.sidebar-nav {*/
/*    margin-top: 20px;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*    position: relative;*/
/*}*/

/*.navbar-fixed-bottom, .navbar-fixed-top {*/
/*    position: relative;*/
/*}*/

.body-color {
    background-color: #d6dcd6;
}

.panel-primary{
    background-color: #d9f5d9;
    border-color: #495f3b;
}

.panel-primary>.panel-body{
    background-color: #d9f5d9;
    border-color: #495f3b;
}

.panel-primary>.panel-footer{
    background-color: #8bbf8b;
    border-color: #495f3b;
}

.panel-primary>.panel-heading{
    background-color: #8bbf8b;
    border-color: #495f3b;
}

.panel-primary>.panel-{
    background-color: #8bbf8b;
    border-color: #495f3b;
}

