<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/jumbotron/">

    <title>Task tracker</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <style>
        .navbar-fixed-top {
            position: relative;
        }
    </style>
</head>

<body class="body-color">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">

            {% if user.is_authenticated %}

                <ul class="nav navbar-nav">
                    <li><a class="active" href="{% url 'index' %}">Tasks</a></li>
                    <li><a class="active" href="{% url 'room-list' %}">Chat</a></li>
                </ul>

                <ul class="navbar-brand navbar-right">
                    <li><a href="{% url 'user-profile-detail' pk=userprofile_id %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            {% else %}

                <div class="navbar-form navbar-right">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" placeholder="your name" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control" name="password">
                        </div>
                        <button type="submit" value="login" class="btn btn-default">Sign in</button>
                        <a class="btn btn-default" href="{% url 'sign-up' %}">Sign up</a>
                    </form>

                </div>

            {% endif %}
        </div>
    </div>
</nav>

<div class="container">

    <div class="col-sm-10 ">
        {% block content %}{% endblock %}
        {% block pagination %}
            {% if is_paginated %}
                <div class="pagination">
          <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">&lt&lt previous</a>
            {% endif %}
              <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next &gt&gt</a>
              {% endif %}
          </span>
                </div>
            {% endif %}
        {% endblock %}
    </div>
    <!-- Example row of columns -->
    <div class="row">

    </div>

    <hr>

    <footer>
        <p>© 2016 Company, Inc.</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>
</html>

{% load static %}
<link href="{% static "/css/static.css" %}" rel="stylesheet"/>